---
import type { ImageMetadata } from 'astro';
import { IoArrowForward } from 'react-icons/io5';
import BaseHead from '../components/BaseHead.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Masthead from '../components/Masthead.astro';
import { HOMEPAGE_URL, SITE_DESCRIPTION, SITE_TITLE } from '../config';
import '../styles/global.css';
import * as Icons from 'react-icons/si';
import { IoCodeSlash } from 'react-icons/io5';

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
console.log('images:', images);

const posts = (await Astro.glob('./posts/*.mdx')).sort(
	(a: any, b: any) =>
		new Date(b.frontmatter.createdAt).valueOf() - new Date(a.frontmatter.createdAt).valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="pt-[56px]">
			<Masthead />
			<Content>
				<section>
					<p class="font-mplus">
						This is my personal knowledge base: Quick tips and tricks to
						remember how to do things I repeat, so I can skip the search next
						time.
						<a
							class="inline-flex items-center gap-1 indent-1 text-light-main dark:text-dark-main"
							href={HOMEPAGE_URL}
							>Learn more about me <IoArrowForward className="inline" />
						</a>
					</p>
				</section>
				<section>
					<h2 class="text-2xl font-mplus font-medium my-9 ">Recent Posts</h2>
					<ul class="grid grid-cols-1 items-start md:grid-cols-1 gap-7">
						{
							posts.map((post) => {
							const IconComponent = Icons[post.frontmatter.icon as keyof typeof Icons] || IoCodeSlash;
							return (
								<a href={post.url}>
									<li class="flex items-center pb-5 pt-2 pl-5 rounded-lg border-t border-l border-white dark:border-dark-subAlt transition duration-300 ease-in-out hover:bg-opacity-10 hover:border-opacity-50 shadow-lg dark:shadow-[rgba(0,0,0,0.2)] hover:shadow-xl">
										<div class="flex gap-4 items-center mt-3 text-xl font-mplus">
											<IconComponent />
											{post.frontmatter.title}
										</div>
										{post.frontmatter.description && (
											<div class="opacity-70">
												{post.frontmatter.description}
											</div>
										)}
									</li>
								</a>
								);
							})
						}
					</ul>
				</section>
			</Content>
		</main>
		<Footer />
	</Body>
</html>
