---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { SITE_TITLE } from '../config'

export interface Props {
	content: {
		title: string
		description: string
		createdAt?: string
		updatedAt?: string
		heroImage?: string
		tags: string[]
	}
}

const {
	content: { title, description, tags }
} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title + ` / ${SITE_TITLE}`} description={description} />
	</head>

	<Body>
		<Header />
		<main class="pt-[70px]">
			<Content className="pt-6 markdown-body">
				<h1 class="text-3xl my-1 font-mplus">{title}</h1>
				<div>{description}</div>
				<div>
					{
						tags.map(tag => (
							<a
								href={`/categories/${tag}`}
								class="inline-flex justify-center text-sm font-medium shadow-sm hover:bg-orange-light dark:hover:bg-background-main focus:outline-none !no-underline transition-all rounded-md border border-border px-2 py-1 mt-2 mr-2 !text-foreground-context hover:dark:!text-foreground"
							>
								#{tag}
							</a>
						))
					}
				</div>
				<hr class="border-top border-border my-4" />
				<slot />
			</Content>
		</main>
	</Body>
	<Footer />
</html>
