---
import { Clock4 } from 'lucide-astro';
import BaseHead from '../components/BaseHead.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import Aside from '../components/Aside.astro';
import { SITE_TITLE } from '../config';

export interface Props {
	content: {
		title: string;
		description: string;
		createdAt?: string;
		updatedAt?: string;
		heroImage?: string;
		tags: string[];
	};
	frontmatter: {
		minutesRead: number;
	};
}

const {
	content: { title, description, tags, createdAt },
	frontmatter: { minutesRead },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title + ` / ${SITE_TITLE}`} description={description} />
	</head>

	<Body>
		<Header />
		<main class="pt-[70px]">
			<Content className="pt-6 markdown-body">
				<h1 class="text-3xl my-4 font-mplus">{title}</h1>

				<div
					class="flex items-center text-sm text-light-sub dark:text-dark-sub space-x-3"
				>
					<span
						class="flex justify-center w-[110px] py-1 bg-light-subAlt dark:bg-dark-subAlt rounded-md transition-colors duration-500"
					>
						{createdAt && <FormattedDate date={new Date(createdAt)} />}
					</span>
					<div
						class="flex justify-center items-center space-x-1 w-[110px] py-1 bg-light-subAlt dark:bg-dark-subAlt rounded-md transition-colors duration-500"
					>
						<Clock4 class="w-4" />
						<span>{minutesRead}</span>
					</div>
				</div>

				<div>{description}</div>
				<hr class="border-top border-dark-sub dark:border-dark-text my-4" />
				<slot />
				<div class="mt-6">
					{
						tags.map((tag) => (
							<a
								href={`/categories/${tag}`}
								class="inline-flex justify-center text-sm font-medium shadow-sm !text-light-sub dark:!text-dark-sub hover:!text-light-bg dark:hover:!text-dark-bg bg-light-subAlt dark:bg-dark-subAlt hover:bg-light-text dark:hover:bg-dark-text focus:outline-none !no-underline rounded-md px-2 py-1 mt-2 mr-2 hover:dark:!text-foreground transition-colors !duration-500"
							>
								<span class="tracking-wider">#</span>
								<span>{tag}</span>
							</a>
						))
					}
				</div>
			</Content>
		</main>
	</Body>
	<Footer />
</html>
