---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { SITE_TITLE } from '../config'

export interface Props {
	content: {
		title: string
		description: string
		createdAt?: string
		updatedAt?: string
		heroImage?: string
		tags: string[]
	}
}

const {
	content: { title, description, tags, createdAt }
} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title + ` / ${SITE_TITLE}`} description={description} />
	</head>

	<Body>
		<Header />
		<style is:global>
			main article.markdown-body {
				ul {
					@apply list-disc list-inside pl-4 mb-4;
				}
				h1,
				h2,
				h3,
				h4,
				h5 {
					@apply font-bold font-mplus;
				}
				h1 {
					@apply text-4xl;
				}
				h2 {
					@apply text-2xl;
				}
				h3 {
					@apply text-xl pb-4;
				}
				h4 {
					@apply text-lg;
				}
				img {
					@apply border border-border rounded-xl mb-6;
				}
				p {
					@apply mb-6;
				}
				a {
					@apply underline underline-offset-2 hover:text-accent decoration-accent transition-colors;
				}
				pre {
					@apply p-5 rounded-lg mb-5 mt-3;
				}
				pre > code {
					all: unset !important;
				}

				.astro-code,
				.astro-code span {
					background-color: #1e1d23 !important;
					@apply dark:!bg-bgCode !bg-bgCodeWhite transition-colors duration-500;
				}
			}
		</style>
		<main class="pt-[70px]">
			<Content className="pt-6 markdown-body">
				<h1 class="text-3xl my-4 font-mplus">{title}</h1>
				{createdAt && <FormattedDate date={new Date(createdAt)} />}
				<div>{description}</div>
				<hr class="border-top border-border my-4" />
				<slot />
				<div class="mt-6">
					{
						tags.map(tag => (
							<a
								href={`/categories/${tag}`}
								class="inline-flex justify-center text-sm font-medium shadow-sm hover:bg-orange-light dark:hover:bg-background-main focus:outline-none !no-underline transition-all rounded-md border border-border px-2 py-1 mt-2 mr-2 !text-foreground-context hover:dark:!text-foreground"
							>
								<span class="tracking-wider">#</span>
								<span>{tag}</span>
							</a>
						))
					}
				</div>
			</Content>
		</main>
	</Body>
	<Footer />
</html>
