---
import Head from '@/components/layout/Head.astro';
import Body from '@/components/layout/Body.astro';
import Container from '@/components/layout/Container.astro';
import Footer from '@/components/layout/Footer.astro';
import FormattedDate from '@/components/ui/FormattedDate.astro';
import Header from '@/components/layout/header/Header.astro';
import Tag from '@/components/ui/Tag.astro';
import { SITE_TITLE } from '@/config';

export interface Props {
	post: {
		title: string;
		description: string;
		createdAt?: string;
		updatedAt?: string;
		heroImage?: string;
		tags: string[];
	};
	minutesRead?: string;
}

const { post: { title, description, tags, createdAt, heroImage }, minutesRead } = Astro.props;
---

<html lang="en">
	<head>
		<Head title={title + ` / ${SITE_TITLE}`} description={description} />
	</head>

	<Body>
		<Header />
		<main class="pt-[70px] flex-1" data-pagefind-body>
			<Container className="pt-6 markdown-body font-mplus">
				<div class="mb-8 relative">
					{
						heroImage && (
							<>
								<img
									class="w-full h-[280px] object-cover border border-bg2 rounded transition-[opacity,border-color] duration-[470ms] opacity-100 dark:opacity-0"
									src={heroImage.replace('-dark.png', '-light.png')}
									alt=""
								/>
								<img
									class="w-full h-[280px] object-cover border border-bg2 rounded transition-[opacity,border-color] duration-[470ms] absolute top-0 left-0 opacity-0 dark:opacity-100"
									src={heroImage.replace('-light.png', '-dark.png')}
									alt=""
								/>
							</>
						)
					}
				</div>

				<div class="flex items-center text-sm text-fg-dim gap-3 mb-4">
					{createdAt && <span data-pagefind-meta="date"><FormattedDate date={new Date(createdAt)} /></span>}
					<div class="w-0.5 h-0.5 rounded-full bg-fg-dim"></div>
					<span data-pagefind-meta="minutesRead">{minutesRead}</span>
				</div>

				<h1 class="text-3xl my-4 font-mplus" data-pagefind-meta="title">{title}</h1>

				<div>{description}</div>
				<hr class="border-top border-bg2 my-4" />
				<slot />
			</Container>
			<Container className="pt-6 font-mplus">
				<div class="flex flex-wrap gap-2">
					{tags.map((tag) => (
						<Tag tag={tag} href={`/blog/${tag}`} />
					))}
				</div>
			</Container>
		</main>
	</Body>
	<Footer />
</html>
