---
import BaseHead from '../components/BaseHead.astro';
import Body from '../components/Body.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Masthead from '../components/Masthead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../config';
import * as Icons from 'react-icons/si';
import { IoCodeSlash } from 'react-icons/io5';

export interface Props {
	category: string;
}

const { category } = Astro.props;

const posts = (await Astro.glob('../pages/posts/*.mdx'))
	.sort(
		(a, b) =>
			new Date(b.frontmatter.createdAt).valueOf() -
			new Date(a.frontmatter.createdAt).valueOf()
	)
	.filter((item) => item.frontmatter.tags.includes(category));
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={category + ` / ${SITE_TITLE}`}
			description={SITE_DESCRIPTION}
		/>
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="pt-[56px]">
			<Masthead />
			<Content>
				<Breadcrumb>{category}</Breadcrumb>
				<section>
					<ul class="grid grid-cols-1 items-start md:grid-cols-1 gap-7">
						{
							posts.map((post) => {
							const IconComponent = Icons[post.frontmatter.icon as keyof typeof Icons] || IoCodeSlash;
							return (
								<a href={post.url}>
									<li class="flex items-center pb-5 pt-2 pl-5 rounded-lg border-t border-l border-white dark:border-dark-subAlt transition duration-300 ease-in-out hover:bg-opacity-10 hover:border-opacity-50 shadow-lg dark:shadow-[rgba(0,0,0,0.2)] hover:shadow-xl">
										<div class="flex gap-4 items-center mt-3 text-xl font-mplus">
											<IconComponent />
											{post.frontmatter.title}
										</div>
										{post.frontmatter.description && (
											<div class="opacity-70">
												{post.frontmatter.description}
											</div>
										)}
									</li>
								</a>
								);
							})
						}
					</ul>
				</section>
			</Content>
		</main>
	</Body>
	<Footer />
</html>
